html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ##################################################################### */
:root {
    --escuro: rgb(39, 40, 44);
    --claro: #ffd7fca6;
    --texto-branco: #fff;
    --texto-escuro: #000;
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rgb(0, 48, 95);
    text-decoration: underline;
}

.header {
    background: var(--escuro);
}

.nav-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 40px 0px 40px 55px;
}

.container {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.text-white {
    color: var(--texto-branco);
}

.perfil {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contato h1 {
    font-weight: 600;
}

.contato h1,
.contato p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.competencias {
    display: flex;
}

.about {
    width: 800px;
    overflow-y: auto;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about::-webkit-scrollbar {
    width: 12px;
}

.about::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.about::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 20px;
    border: 3px solid #f0f0f0;
}

.about p {
    font-size: 1.1rem;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

.about h1 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 40px;
}

.habilidades {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades ul {
    margin-top: 20px;
}

.habilidades ul li {
    margin-top: 5px;
    list-style: inside;
}

.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    bottom: 0;
    background: var(--escuro);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-family: Arial, Helvetica, sans-serif
}